@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");

.Home {
  background: #deb992;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 10% 15% 10%;
}
.Welcome {
  font-family: "Oswald", sans-serif;
  display:flex;
  align-items:center;
  justify-content:center;
  color: #051622;
  border: 1px dotted green;
}
.Message {
  font-size: 3em;
}
.Description {
  display:flex;
  align-items:center;
  justify-content:center;
  color: #051622;
  height: 100%;
  border: 1px dotted blue;
}
